@font-face {
  font-family: 'TIMES__';
  src: url('webfontkit-20230806-135721/timess__-webfont.woff2') format('woff2'),
         url('webfontkit-20230806-135721/timess__-webfont.woff') format('woff');
}

body {
  margin: 0;
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #fcf3e4;
  background-size: cover;
  width: 100%; 
  background-position: center;
  
}

.landing {
  text-align: center;
  width: 100%;
  height: auto;
  padding-top: 50px;
  font-family: 'TIMES__';
  color: #ffffff;
  letter-spacing: 6px;
}


.links {
  width: 100%;
  height: auto;
  font-family: monospace;
  color: #ffffff;
  font-size: 1vw;
  text-shadow: none;
  letter-spacing: 1px;
}

.links img {
  padding: 5px;
}



.end {
  text-align: center;
  position: relative;
  width: 100%;
  height: auto;
  font-family: monospace;
  color: #000000;
  font-size: 1vw;
}

.end #sizeSmall {
  width: 25%;
  height: auto;
}

.videos {
  width: 100%;
  height: auto;
}

.row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1px;
  font-family: 'TIMES__';
  font-size: 12px;
  height: auto;
}

.column {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 1px;
  float: left;
  width: 50%;
  max-width: 100%;
  padding: 0px;
}

#navbar {
  overflow: hidden;
  background-color: #fcf3e4;
;
  width: 100%;
}

#navbar a {
  float: left;
  display: block;
  color: #000000;
  font-family:'TIMES__';
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  
  color: #ff2929;
}

#navbar a.active {

  color: #845742;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}




@media screen and (max-width: 600px) {
  .column {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
  .row {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }

}


/*# ourceMappingURL=style.css.map */